.form__input {
    border: none;
    border-bottom: 1px solid #C4C4C4;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    padding: 0 0 7px;
}

.form__input::placeholder {
    color: #C4C4C4;
}