.header__links {
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    margin: 10px 0 46px;
}