.form__input-error {
    min-height: 30px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0;
    padding: 3px 0 3px;
}