.card {
    position: relative;
    overflow-block: hidden;
    width: 282px;
    height: 361px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    background: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 450px)  {
    .card {
        width: calc(100% - 38px);
    }
}