.popup__close-btn {
    grid-area: close;
    width: 32px;
    height: 32px;
    justify-self: flex-end;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M32 28.8L19.2 16L32 3.2L28.8 0L16 12.8L3.2 0L0 3.2L12.8 16L0 28.8L3.2 32L16 19.2L28.8 32L32 28.8Z" fill="white"/> </svg>');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    border: none;
}

.popup__close-btn:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
    }
}