.auth__login-link {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin: 15px 0 0;
}

.auth__login-link:hover {
    opacity: .6;
}