.form__save-btn {
    height: 50px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #000000;
    border: 1px #000000;
    border-radius: 2px;
    color: #FFFFFF;
    margin: 12px 0 0;
}

.form__save-btn:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .form__save-btn {
        font-size: 14px;
        line-height: 17px;
    }
}